body {
  margin: 0;
}
canvas {
  width: 100vw !important;
  height: 100vh !important;
}

.active i {
  color: yellow !important;
}

.loading-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #222;
}

.loading-progress {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-size: 0.8rem;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  transform: rotate(45deg);
}
.loading div {
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 100%;
  float: left;
  margin-bottom: 12px;
  animation: scaleDot 2s ease infinite;
}
.loading div:not(:nth-child(4n + 4)) {
  margin-right: 12px;
}
.loading div:nth-child(1) {
  animation-delay: 0;
}
.loading div:nth-child(2),
.loading div:nth-child(5) {
  animation-delay: 0.1s;
}
.loading div:nth-child(3),
.loading div:nth-child(6),
.loading div:nth-child(9) {
  animation-delay: 0.2s;
}
.loading div:nth-child(4),
.loading div:nth-child(7),
.loading div:nth-child(10),
.loading div:nth-child(13) {
  animation-delay: 0.3s;
}
.loading div:nth-child(8),
.loading div:nth-child(11),
.loading div:nth-child(14) {
  animation-delay: 0.4s;
}
.loading div:nth-child(12),
.loading div:nth-child(15) {
  animation-delay: 0.5s;
}
.loading div:nth-child(16) {
  animation-delay: 0.6s;
}
@-moz-keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-navigation {
  color: white;
  font-size: 0.8rem;
  display: flex;
  gap: 0 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.container-navigation div {
  padding: 10px;
  cursor: pointer;
}
